<%= include('header', {title: 'Sydney Vickery :: Childrens Museum of Santa Barbara', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Children's Museum of Santa Barbara</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Responsive Design</span> /  <span>Logo Design</span> / <span>Sitefinity CMS</span> / <span>SASS</span>
		    </div>

			<p>
				The Children's Museum of Santa Barbara is set to open in June 2016, and the team needed a new website to promote their opening. Using a simple Sitefinity template, I created a fun and child-friendly look by heavily modifying the styles and implementing a new logo. The site is fully responsive and provides a mobile-friendly experience. I trained the Children's Museum team to utilize the content management system to update content wherever needed.		
			</p>
		
		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/cm1.png">
		</div>

		<div class="work_image-mobile">
			<img src="/img/cm2.png">
		</div>

		<div class="work_image-tablet end">
			<img src="/img/cm3.png">
		</div>

		<div class="clear"></div>

		<div class="work_image-screenshot">
			<img src="/img/cm4.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/cm5.png">
		</div>

    </div>
</div>

<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/Isolite/"><i class="fa fa-chevron-left"></i>Isolite Systems</a>
		</div>
		<div class="work_footer-next">
			<a href="/ChumashCasino/">Chumash Casino<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
