<%= include('header', {title: 'Sydney Vickery :: Chumash Casino', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Chumash Casino</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Responsive Design</span>
		    </div>

			<p>
				Using design elements from Chumash Casino's recent rebranding, I did a complete revamp of their ticketing system. With the header and footer already in place, my job was to redesign and style the rest of the site to match the Casino's new look. I reorganized elements and added new ones to improve the user experience. The site is fully responsive down to mobile sizes. 
			</p>

		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/cc1.png">
		</div>

		<div class="work_image-mobile">
			<img src="/img/cc2.png">
		</div>

		<div class="work_image-tablet end">
			<img src="/img/cc3.png">
		</div>

		<div class="clear"></div>

		<div class="work_image-screenshot">
			<img src="/img/cc4.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/cc5.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/cc6.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/cc7.png">
		</div>

    </div>
</div>


<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/ChildrensMuseum/"><i class="fa fa-chevron-left"></i>Children's Museum of SB</a>
		</div>
		<div class="work_footer-next">
			<a href="/CityofLA/">City of Los Angeles<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
