<%= include('header', {title: 'Sydney Vickery :: City of Los Angeles', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>City of Los Angeles</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Desktop Application </span> / <span>Responsive Design</span>
		    </div>

			<p>
				The City of Los Angeles' Human Resource Management System is an internal application that serves as a central repository of employee information. The large majority of the site consists of input fields, so my focus was to create easily reusable styles for these inputs. I implemented a six-column grid system for accommodating input fields and their labels. The site is responsive down 960 pixels wide to account for smaller browser sizes.
			</p>
		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/cla1.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/cla2.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/cla3.png">
		</div>

    </div>
</div>

<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/ChumashCasino/"><i class="fa fa-chevron-left"></i>Chumash Casino</a>
		</div>
		<div class="work_footer-next">
			<a href="/DeepOcean/">DeepOcean<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
