<%= include('header', {title: 'Sydney Vickery :: Curvature Guides', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Curvature Guides</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Desktop Application</span> / <span>SASS</span> 
		    </div>

			<p>
				Curvature Guides is an internal application that assists the company's sales team in finding compatibility information about their large array of products. Curvature's team uses primarily wide-screen moniters, so I took advantage of the horizontal space with full-screen tables of information. Users can scroll horizontally through the grids, while the left columns fixed, so that they may compare products while viewing as much information at once as possible. 
			</p>

		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/cg1.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/cg2.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/cg3.png">
		</div>
		<div class="work_image-screenshot">
			<img src="/img/cg4.png">
		</div>

    </div>
</div>

<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/Visus/"><i class="fa fa-chevron-left"></i>Visus LLC</a>
		</div>
		<div class="work_footer-next">
			<a href="/Isolite/">Isolite Systems<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
