<%= include('header', {title: 'Sydney Vickery :: DeepOcean', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>DeepOcean</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Mockup Design</span>
		    </div>

			<p>
				Blue Marble Gaming Company creates digital games with the purpose of measuring human performance metrics, and DeepOcean is the platform that collects and analyzes the data. I designed a series of mockups to revamp their outdated design, which present the information clearly and consisely. 
			</p>

		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/bmgc1.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/bmgc2.png">
		</div>

    </div>
</div>

<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/CityofLA/"><i class="fa fa-chevron-left"></i>City of Los Angeles</a>
		</div>
		<div class="work_footer-next">
			<a href="/Maps/">Maps.com<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
