<%= include('header', {title: 'Home'}) %>
		<div class="header_heading-home">
			<div class="inner_wrapper">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan sed urna in commodo. Curabitur pulvinar odio quis mauris mollis volutpat. My name is Sydney and I’m a web designer and front-end developer. You can see my work below. 
				</p>
				<img src="/img/trees.png" />
				<div class="clear"></div>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper cf">

	    <div class="work_thumb">
	    
	    	<div class="arrow-up"></div>
	    	<a class="work_thumb-link" href="/test.html"> 
	    		<div class="work_thumb-label">Test</div>
	    	</a>
	    </div>
	    <div class="work_thumb end">
	    	
	    	<div class="arrow-up"></div>
	    	<a class="work_thumb-link" href="#">
	    		<div class="work_thumb-label">The Project Name Here</div>
	    	</a>
	    </div>


	    <div class="work_thumb">
	    	
	    	<div class="arrow-up"></div>
	    	<a class="work_thumb-link" href="#">
	    		<div class="work_thumb-label">The Project Name Here</div>
	    	</a>
	    </div>
	    <div class="work_thumb end">
	    	
	    	<div class="arrow-up"></div>
	    	<a class="work_thumb-link" href="#">
	    		<div class="work_thumb-label">The Project Name Here</div>
	    	</a>
	    </div>


	    <div class="work_thumb">
	    	
	    	<div class="arrow-up"></div>
	    	<a class="work_thumb-link" href="#">
	    		<div class="work_thumb-label">The Project Name Here</div>
	    	</a>
	    </div>
	    <div class="work_thumb end">
	    	
	    	<div class="arrow-up"></div>
	    	<a class="work_thumb-link" href="#">
	    		<div class="work_thumb-label">The Project Name Here</div>
	    	</a>
	    </div>


	    <div class="work_thumb m0">
	    	
	    	<div class="arrow-up"></div>
	    	<a class="work_thumb-link" href="#">
	    		<div class="work_thumb-label">The Project Name Here</div>
	    	</a>
	    </div>
	    <div class="work_thumb end m0">
	    	
	    	<div class="arrow-up"></div>
	    	<a class="work_thumb-link" href="#">
	    		<div class="work_thumb-label">The Project Name Here</div>
	    	</a>
	    </div>


    </div>
</div>

<%= include('footer') %>
