<%= include('header', {title: 'Sydney Vickery :: Design Portfolio', work: 'active', resume: ' '}) %>
		<div class="header_heading-home">
			<div class="inner_wrapper">
				<p>
				My name is Sydney and I’m a web designer and front-end developer living in the South Bay. 

				I've always been passionate about both the aesthetic and the technical.

				Good design and best practices are important to me, and I enjoy working with others who feel the same.

				You can see a selection of my work below. 
				</p>
				<img src="/img/trees.png" />
				<div class="clear"></div>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper cf">

	    <div class="work_thumb"> 
    		<img src="/img/th_VisusWorkflow.png" />
	    	<a class="work_thumb-link" href="/VisusWorkflow/"></a>
    		<div class="work_thumb-label">
		    	<div class="arrow-up"></div>
    			Visus Workflow
			</div>
	    </div>

	    <div class="work_thumb end">
    		<img src="/img/th_NewVisusSite.png" />
	    	<a class="work_thumb-link" href="/VisusUpdate/"></a>
    		<div class="work_thumb-label">
	    		<div class="arrow-up"></div>
	    		Visus LLC Update
    		</div>
	    </div>

	    <div class="work_thumb">
    		<img src="/img/th_Visus.png" />
	    	<a class="work_thumb-link" href="/Visus/"></a>
    		<div class="work_thumb-label">
	    		<div class="arrow-up"></div>	
    			Visus LLC
			</div>
	    	
	    </div>

	    <div class="work_thumb end">
    		<img src="/img/th_Guides.png" />
	    	<a class="work_thumb-link" href="/CurvatureGuides/"></a>
    		<div class="work_thumb-label">
	    		<div class="arrow-up"></div>
    			Curvature Guides
			</div>
	    </div>

	    <div class="work_thumb">
    		<img src="/img/th_Isolite.png" />
	    	<a class="work_thumb-link" href="/Isolite/"></a>
    		<div class="work_thumb-label">
		    	<div class="arrow-up"></div>
		    	Isolite Systems
	    	</div>
	    </div>

	    <div class="work_thumb end">
    		<img src="/img/th_CMSB.png" />
	    	<a class="work_thumb-link" href="/ChildrensMuseum/"></a>
    		<div class="work_thumb-label">
	    		<div class="arrow-up"></div>
    			Children's Museum of Santa Barbara
			</div>
	    </div>

	    <div class="work_thumb">
    		<img src="/img/th_Chumash.png" />
	    	<a class="work_thumb-link" href="/ChumashCasino/"></a>
    		<div class="work_thumb-label">
	    		<div class="arrow-up"></div>
    			Chumash Casino Ticketing System
			</div>
	    </div>

	    <div class="work_thumb end">
    		<img src="/img/th_CLA.png" />
	    	<a class="work_thumb-link" href="/CityofLA/"></a>
    		<div class="work_thumb-label">
	    		<div class="arrow-up"></div>
    			City of Los Angeles - Human Resource Management System
			</div>
	    </div>

	    <div class="work_thumb">
    		<img src="/img/th_BMGC.png" />
    		<a class="work_thumb-link" href="/DeepOcean/"></a>
    		<div class="work_thumb-label">
	    		<div class="arrow-up"></div>
    			Blue Marble Gaming Company - DeepOcean
			</div>
	    </div>

	    <div class="work_thumb end">
    		<img src="/img/th_Maps.png" />
	    	<a class="work_thumb-link" href="/Maps/"></a>
    		<div class="work_thumb-label">
	    		<div class="arrow-up"></div>
    			Maps.com
			</div>
	    </div>

    </div>
</div>

<%= include('footer') %>
