<%= include('header', {title: 'Sydney Vickery :: Isolite Systems', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Isolite Systems</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Responsive Design</span> / <span>Sitefinity CMS</span> / <span>SASS</span>
		    </div>

			<p>
				Isolite Systems are the creators of an innovate new medical device, but their former website didn't reflect this vision. After the Director of Marketing presented our team with some of his ideas, I created clean and crisp design - responsive down to tablet size - to improve the customer experience. I worked with a developer to provide the company with a new online presense and content management system. I set up several templates to use throughout the site, and trained personnel to easily manage and update images, text, videos, news stories, and events. 
			</p>

		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/is2.png">
		</div>

		<div class="work_image-hero">
			<img src="/img/is3.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/is4.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/is5.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/is6.png">
		</div>

    </div>
</div>

<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/CurvatureGuides/"><i class="fa fa-chevron-left"></i>Curvature Guides</a>
		</div>
		<div class="work_footer-next">
			<a href="/ChildrensMuseum/">Children's Museum of SB<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
