<%= include('header', {title: 'Sydney Vickery :: Maps.com', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Maps.com</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Responsive Design</span> / <span>Mockup Design</span>
		    </div>

			<p>
				Maps.com is a premier online retailer of maps, atlases, globes, and more. They have a vast catalouge of products, but their outdated website wasn't probably showcasing their prowess.
				I worked with the company to draw up ideas for a new site layout, and listened to their design preferences. 
				After several revisions, we settled on a series of both desktop and mobile mockups that properly represented the company's expertise in the field.
			</p>

		</div>
		<div class="clear"></div>

		<div class="work_image-tablet">
			<img src="/img/maps1.png">
		</div>

		<div class="work_image-mobile end">
			<img src="/img/maps2.png">
		</div>


		<div class="clear"></div>

		<div class="work_image-screenshot">
			<img src="/img/maps3.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/maps4.png">
		</div>

    </div>
</div>


<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/DeepOcean/"><i class="fa fa-chevron-left"></i>DeepOcean</a>
		</div>
		<div class="work_footer-next">
			<a href="/VisusWorkflow/">Visus Workflow<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
