<%= include('header', {title: 'Sydney Vickery :: Resume', work: ' ', resume: 'active'}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Resume</h1>
			</div>
		</div>
	</header>

<div class="content">
    <div class="inner_wrapper cf">

    	<div class="resume-left">
    		<h2>Experience</h2>

    		<div><span class="company">Visus LLC</span>  /  <span class="title">Web Designer & Front-End Developer</span></div>
			<div class="date">February 2013 – Present</div>
			<p>Designed and coded websites for a wide variety of clientele. Worked in Visual Studio with HTML5, CSS3, SASS, JavaScript, and jQuery. Built responsive websites with backwards compatibility to IE8. Designed printed products for marketing, such as business cards, flyers, and ads. Provided support to clients as well as the web development team. Used Sitefinity content management system to create templates and update web content.</p>

    		<div><span class="company">UC Davis Center for Watershed Sciences</span>  /  <span class="title">Web Designer & Front-End Developer</span></div>
			<div class="date">January 2012 – February 2013</div>
			<p>
			Designed and coded the center’s website and side-websites using HTML, CSS, and jQuery.
			Used Drupal content management system to publish and update web content. 
			Created aesthetically pleasing graphs and figures for the center’s data. 
			Worked every day with a variety of programs, such as Photoshop, GIMP, and Illustrator.
			</p>

    		<div><span class="company">DressUpWho.com </span>  /  <span class="title">Flash Developer</span></div>
			<div class="date">July 2011 – December 2012</div>
	
			<div><span class="company">Spil Games</span>  /  <span class="title">Flash Developer</span></div>
			<div class="date">June 2010 – July 2011</div>
	
			<div><span class="company">MindJolt Inc.</span>  /  <span class="title">Flash Developer</span></div>
			<div class="date">November 2009 – April 2010</div>
	
			<div><span class="company">DressUpGames.com</span>  /  <span class="title">Flash Developer</span></div>
			<div class="date">September 2009 – November 2009</div>
			<p>
			Drew, designed, and coded flash games geared towards young girls. Dealt with several clients and worked within strict constraints and deadlines. Worked in GIMP, Photoshop, and Flash. <br/>Coded with Actionscript 2 and 3.
			</p>
	

    	</div>

    	<div class="resume-right end">
    		<h2>Skills</h2>

    		<div class="skills">
	    		<span class="skills-cat">Launguages</span>
				<ul>
				<li>HTML 5</li>
				<li>CSS 3 / Sass</li>
				<li>JavaScript / jQuery</li>
				<li>ActionScript</li>
				<li>Unix</li>
				</ul>

				<span class="skills-cat">Tools</span>
				<ul>
				<li>Bourbon / Neat</li>
				<li>Gulp</li>
				<li>Grunt</li>
				<li>Bower</li>
				<li>Git</li>
				<li>SVN</li>
				</ul>
			</div>

    		<div class="skills end">
	    		<span class="skills-cat">Programs</span>
	    		<ul>
					<li>Photoshop</li>
					<li>Illustrator</li>
					<li>Axure</li>
					<li>Visual Studio</li>
					<li>Flash</li>
					<li>InDesign</li>
					<li>GIMP</li>
					<li>Inkscape</li>
				</ul>

				<span class="skills-cat">CMS</span>
				<ul>
					<li>WordPress</li>
					<li>Sitefinty</li>
					<li>Drupal</li>
				</ul>
			</div>
			<div class="clear"></div>

    		<h2>Education</h2>

			<div><span class="company">University of California, Davis</span></div>
			<div class="date">September 2008 – December 2012</div>
			<p>
			B. A. in Design – Visual Communications<br/>
			Minor in Mathematics
			</p>

			<a class="button button-download" href="/docs/SydneyVickery-Resume.pdf" target="_blank"><i class="fa fa-download"></i> Download PDF</a>

		</div>
	</div>
</div>

<%= include('footer') %>