<%= include('header', {title: 'Test'}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Visus Workflow</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Responsive Design</span> / <span>Sitefinity Theme Customization</span> / <span>Logo Design</span>
		    </div>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non iaculis metus. Curabitur ac lorem vitae
			mauris facilisis auctor. Phasellus vestibulum molestie nisi, ut aliquet ligula. Fusce at feugiat magna. 
			Aliquam dapibus dictum lacus.</p>
		</div>
		<div class="clear"></div>

		<div class="work_image">
			
		</div>
    </div>
</div>

<%= include('footer') %>
