<%= include('header', {title: 'Sydney Vickery :: Visus LLC', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Visus LLC</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Responsive Design</span> / <span>Sitefinity CMS</span> / <span>SASS</span>
		    </div>

			<p>
				For my company's new website, I took elements from the old, outdated site and updated them with a new, modern look complete with tablet and mobile responsiveness. The site was created with the Sitefinity CMS, so that new editors can update content (including text, images, image sliders, and buttons) with ease. I also designed and implemented a new Success Stories section of the site to showcase our successful projects.
			</p>
		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/v1.png">
		</div>

		<div class="work_image-mobile">
			<img src="/img/v2.png">
		</div>

		<div class="work_image-tablet end">
			<img src="/img/v3.png">
		</div>

		<div class="clear"></div>

		<div class="work_image-screenshot">
			<img src="/img/v4.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/v5.png">
		</div>

    </div>
</div>

<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/VisusUpdate/"><i class="fa fa-chevron-left"></i>Visus LLC Update</a>
		</div>
		<div class="work_footer-next">
			<a href="/CurvatureGuides/">Curvature Guides<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
