<%= include('header', {title: 'Sydney Vickery :: Visus LLC Update', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Visus LLC Update</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Mockup Design</span>
		    </div>

			<p>I created a new design for my company's website that makes several improvments to the previous design. The goal of this redesign was to remove unnecessary frills that provided no functional purpose, and present the most important information to the user. I replaced the full-screen slider with a hero section that immediately lets the user know what the company does. Client logos are all displayed on the page without the user having to click through a carousel. The company's feature in the Pacific Coast Business Times is advertised with graphic elements. The call to action at the bottom of the page stands out, and the colors overall are brighter and give a friendlier vibe.
			</p>
		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/vu1.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/vu2.png">
		</div>

    </div>
</div>

<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/VisusWorkflow/"><i class="fa fa-chevron-left"></i>Visus Workflow</a>
		</div>
		<div class="work_footer-next">
			<a href="/Visus/">Visus LLC<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
