<%= include('header', {title: 'Sydney Vickery :: Visus Workflow', work: 'active', resume: ' '}) %>

		<div class="header_heading">
			<div class="inner_wrapper">
				<h1>Visus Workflow</h1>
			</div>
		</div>
	</header>


<div class="content">
    <div class="inner_wrapper">


    	<div class="work_block">
		    <div class="work_block-heading">
		    	<span>Desktop Applilcation</span> / <span>Logo Design</span> / <span>SASS</span>
		    </div>

			<p>Visus Workflow is a workflow process management tool. Users can create workflows for projects and assign tasks to members of their team. The application includes drag-and-drop functionality, and the ability to create workflow templates and manage user roles. I created a clean and minimalist style with colorful accents to show task status and element functionality. The logo is representative of moving from one task in a workflow to another.</p>
		</div>
		<div class="clear"></div>

		<div class="work_image-hero">
			<img src="/img/vw1.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/vw2.png">
		</div>

		<div class="work_image-screenshot">
			<img src="/img/vw3.png">
		</div>
		<div class="work_image-screenshot">
			<img src="/img/vw4.png">
		</div>

    </div>

</div>

<div class="inner_wrapper work_footer-outer">
	<div class="work_footer">
		<div class="work_footer-prev">
			<a href="/Maps/"><i class="fa fa-chevron-left"></i>Maps.com</a>
		</div>
		<div class="work_footer-next">
			<a href="/VisusUpdate/">Visus LLC Update<i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</div>

<%= include('footer') %>
