
@import '../bower_components/bourbon/bourbon';
@import '../bower_components/neat/neat';
@import 'variables';

/*---------------
SETUP
---------------*/

*, *:before, *:after { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
html, body { height:100%; margin:0; }
body { background:#fff; font-family:$text-family; color:$text-color; font-size:16px; }
.clear { clear:both;}
.cf:after { clear:both; content:''; display:table; }

/*---------------
TEXT
---------------*/

a { text-decoration:none; @include transition; }
h1 { font-size:38px; font-weight:500; }
h2 { font-size:25px; font-weight:500; margin-bottom:30px; color:$gray-darker; }
p { line-height:25px; }

/*---------------
LAYOUT
---------------*/

.wrapper { display:table; width:100%; height:100%; table-layout:fixed; }
.inner_wrapper { margin:0 auto; padding:0 $innerwrap-padding; @include outer-container; }
.end { margin-right:0 !important; }

nav { background:$gray-darker; height:$header-height; position:fixed; top:0; left:0; width:100%; z-index:2;
	.header_name { font:$text-headername; color:$gray-light; font-weight:300; line-height:$header-height;
		&:hover { color:#fff; }
	}
	ul { float:right;
		li { display:inline-block; height:$header-height; line-height:$header-height; padding:0 0 0 15px;
			a { text-transform:uppercase; font-size:15px; font-weight:900; color:#f0f0f0; 
				&:hover { color:#fff; }
				&.active { color:$pink; }
			}
		}
	}
}

.header_heading { background:$green-light; margin-top:$header-height; color:#fff; 
	h1 { height:110px; line-height:110px; text-align:center; }
}

.header_heading-home { @extend .header_heading; min-height:170px;
	.inner_wrapper { position:relative; }
	p { font-size:17px; line-height:30px; padding:40px 0; @include span-columns(4); }
	&:after { content:''; display:table; clear:both; }
	img { width:196px; height:128px; position:absolute; right:$innerwrap-padding; bottom:0; @include image-rendering(crisp-edges); }
}

.content { margin:50px 0 100px 0; }

footer { height:0.1%; position:relative; display:table-row; height:1px; 
	.footer_contact { background:$green-light; color:#fff; font-size:17px; padding:50px 0; position:relative;
			img { width:474px; height:73px; position:absolute; bottom:0; left:0; @include image-rendering(crisp-edges); }
		.footer_contact-text { @include span-columns(3); 
			h1 { margin-bottom:30px; }
			p { line-height:30px; margin-bottom:30px; }
			a { color:$gray-darker; }
		}
		.footer_contact-form { @include span-columns(3); background:#fff; margin-bottom:0; @include border-radius(6px);
		}
		&:after { content:''; display:table; clear:both; }
	} 
	.footer_footer { background:$gray-darker; height:80px; line-height:80px; color:$gray-mid; font-size:15px; text-transform:uppercase; font-weight:900; 
		.social { float:right;  height:80px; line-height:80px;
			a { color:$gray-mid; font-size:24px; margin-left:5px; @include transition;
				&:hover { color:$gray-light; }
			}
		}
	}
}

/*---------------
LANDING PAGE
---------------*/

.work_thumb { @include span-columns(3); background:$gray-light; height:350px; position:relative; margin-bottom:20px;
	.arrow-up { width:0; height:0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; position:absolute; bottom:37px; left:17px; z-index:1; }
	.work_thumb-link { position:absolute; top:0; left:0; width:100%; height:100%; 
		.work_thumb-label { background:#fff; border:2px solid $gray-light; width:100%; position:absolute; bottom:0; left:0; min-height:40px; line-height:36px; color:$gray-mid; font-size:17px; padding:0 15px; @include transition; font-weight:500; }
		&:hover .work_thumb-label { color:$green-light; }
	}
}

/*---------------
CONTACT FORM
---------------*/

.footer_contact-form { padding:30px;
	.success { color:$green-light; font-size:16px; position:relative; padding-left:30px; line-height:40px; color:$gray-mid;
		&:before { content:'\f058'; font-family:'FontAwesome'; color:$green-light; font-size:25px; position:absolute; left:0; top:0; }
	}
	.error { color:#f66c6c; font-size:16px; height:40px; width:380px; }

	label { display:block; color:$pink; margin-bottom:5px; font-weight:500; }
	input[type="text"],input[type="email"], textarea {  @include appearance(none); width:100%; background:$gray-light; border:2px solid $gray-light; height:40px; line-height:40px; margin-bottom:15px; font-family:$text-family; font-size:17px; color:$text-color; padding:0 10px; font-size:15px; @include transition;
		&:focus { outline:none; background:#fff }
	}
	textarea { height:100px; line-height:25px; padding:5px 10px; resize:vertical; }
	.messages { float:left;  }
	.button { float:right; }
}

/*---------------
BUTTONS
---------------*/

.button, a.button { font-family:$text-family; font-weight:700; display:inline-block; @include transition; @include appearance(none); border:none; background:$pink; color:#fff; @include border-radius(3px); font-size:17px; min-width:130px; height:40px; line-height:38px; padding:0 25px;
	&:focus { outline:none;  }
	&:hover { background:lighten($pink, 3%); @include border-radius(20px); cursor:pointer; }
}
.button i { margin-right:5px; }


/*---------------
RESUME
---------------*/

.resume-left { @include span-columns(4); padding-right:60px; }
.resume-right { @include span-columns(2); margin-right:0; }

.resume-right, .resume-left { font-size:15px; line-height:25px; color:$gray-dark; margin-bottom:0;
	> div { color:$gray-mid; margin-bottom:5px; }
	.company, .skills-cat { color:$gray-dark; font-weight:700; }
	.title { color:$pink; }
	.date { color:$gray-mid; font-style:italic; margin-bottom:7px; }
	p { margin-bottom:40px; }

	.skills { @include span-columns(3); margin-bottom:0; }

	ul { padding:0; list-style-type:none; margin-bottom:30px; color:$gray-dark;
		li { position:relative; padding-left:12px; 
			&:before { content:'\f111'; font-family:'FontAwesome'; font-size:3px; position:absolute; top:0; left:0; }
		}
	}
}


/*---------------
PROJECT
---------------*/

.work_block { @include span-columns(4); @include omega; margin-bottom:40px;
	.work_block-heading { color:$gray-mid; font-weight:300; margin-bottom:20px;
		span { color:$pink; font-weight:400;  }
	} 
	p { line-height:27px; }
}

.work_image { background:$gray-light; width:100%; height:800px; }


/*---------------
HELPERS
---------------*/

.m0 { margin-bottom:0; }




